.disabled {
	color: #888;
}
table {
	font-family: "Lucida Sans Unicode", "Helvetica", "Arial", sans-serif;
	background-color: #ccc;
	margin: 10px 0pt 15px;
	font-size: 10pt;
	text-align: left;
}
table thead tr th, table tfoot tr th {
	background-color: #e6eeee;
	border: 1px solid #fff;
	font-size: 10pt;
	padding: 4px;
	padding-right: 25px;
}
table tbody td {
	color: #333;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table tbody tr:nth-child(even) td {
	background-color: #f8f8f8;
}

