html {
	font-family: "Georgia", serif;
}
.mac {
	font-family: "Bitstream Vera Sans Mono", "Consolas", monospace;
}
#status {
	font-family: "Lucida Sans Unicode", "Helvetica", "Arial", sans-serif;
}
.tablesorter thead tr .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.tablesorter thead tr .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter thead tr .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter thead tr .tablesorter-headerAsc, .tablesorter thead tr .tablesorter-headerDesc {
	background-color: #8bd;
}
